@using CoreData
@using CoreData.Infrastructure
@model IdentityServer.Account.LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>@LocalizedMessages.LOGIN_TITLE</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Username">@LocalizedMessages.USERNAME_LABEL</label>
                                    <input class="form-control" placeholder="@LocalizedMessages.USERNAME_LABEL" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">@LocalizedMessages.PASSWORD_LABEL</label>
                                    <input type="password" class="form-control" placeholder="@LocalizedMessages.PASSWORD_LABEL" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>@LocalizedMessages.REMEMBER_LOGIN</strong>
                                        </label>
                                        <a href='@ConfigurationManager.ForgotPasswordUri' class="fr">@LocalizedMessages.FORGOT_PASSWORD_BUTTON</a>
                                    </div>
                                }
                                <div class="form-group mb-0">
                                    <a href='@ConfigurationManager.RegisterUri' class="btn btn-info">@LocalizedMessages.REGISTER_NOW_BUTTON</a>
                                    <button class="btn btn-primary fr ml-5" name="button" value="login">@LocalizedMessages.LOGIN_BUTTON</button>
                                    <button class="btn btn-default fr" name="button" value="cancel">@LocalizedMessages.CANCEL</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>